<!--<img src=item.image height="300px" width="255px">
<button id="sliderLabel" {action "onSongs" name}>
  &lt;!&ndash;<input type="checkbox"/>
  <button id="slider"></button>
  <span id="sliderOn">On</span>&ndash;&gt;
  &lt;!&ndash;<button id="sliderOff">Off</button>&ndash;&gt;
  <button id="sliderOn">On </button>
  <button id="sliderOff">Off</button>
</button>-->
<label id="sliderLabel">
  <input id="sliderInput" type="checkbox" {{action "onSongs" name on="change"}} />
  <span id="slider"></span>
  <span id="sliderOn">On</span>
  <span id="sliderOff">Off</span>
</label>



